@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --bg-color: #132043;
  --second-bg-color: #2b3467;
  --text-color: #fcffe7;
  --text-color2: rgba(197, 196, 196, 0.748);
  --main-color: #fedb39;
  --glass-color: rgba(108, 108, 108, 0.135);

  --font-family: "Fredoka", sans-serif;
  --box-shadow: 0 1em 3em 0.4em rgba(0, 0, 0, 0.193);
  --boder-radiues: 1em;
}

html {
  scroll-behavior: smooth;
  font-size: 80%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;

}

@media screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  /* animation: animationsforbody 1s ease-in-out; */
}

/* @keyframes animationsforbody {
  from{
    opacity: 0.6;
  }
  to{
    opacity: 1;
  }
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header h5 {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  font-weight: bold;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--main-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.home-content h1 {
  font-size: 8.6rem;
  font-weight: bold;
  line-height: 1.3;
}

.home-content h2 {
  font-size: 4.6rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.home-content div {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 2rem 3.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 2.5rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color) !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  background: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url("../resources/images/bg1.jpg");
}

.about h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.about h3 {
  font-size: 2.5rem;
  text-align: center;
  width: 80%;
}

/***************************/
.night {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  transform: rotateZ(40deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2) {
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 1.2s;
}

.star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 1.6s;
}

.star:nth-child(5) {
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 1.8s;
}
